In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np
import h5py

In [2]:
## load the trained model, scaler pickle, onehot 
model = load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
with open('label_gender.pkl', 'rb') as file:
    label_gender = pickle.load(file)
with open('one_hot_encoder_geo.pkl', 'rb') as file:
    one_hot_encoder_geo = pickle.load(file)
with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

In [4]:
## Exampl # type: ignoree_input_data

input_data = {
    'CreditScore' : 691,
    'Geography': 'France',  # Example input
    'Gender': 'Male',       # Example input
    'Age': 40,              # Example input
    'Tenure': 3,            # Example input
    'Balance': 60000,       # Example input
    'NumOfProducts': 2,     # Example input
    'HasCrCard': 1,         # Example input
    'IsActiveMember': 1,    # Example input
    'Exited': 0 # Example input
}

In [5]:
## onehot encoding for geography
geo_encoded = one_hot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns = one_hot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

e:\Desktop\sadia waheed GU1\Gen AI course 4 months\ANN-P2\myenv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [6]:
## encode categorical variables
input_df = pd.DataFrame([input_data])
input_df['Gender'] = label_gender.transform(input_df[['Gender']])
input_df

e:\Desktop\sadia waheed GU1\Gen AI course 4 months\ANN-P2\myenv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,691,France,1,40,3,60000,2,1,1,0

In [7]:
## concatination of one hot encoded data
input_df = pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1) 
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,691,1,40,3,60000,2,1,1,0,1.0,0.0,0.0

In [8]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(input_df)
input_scaled = scaler.transform(input_df)
input_scaled

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [9]:
prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 3s 3s/step

array([[0.2624642]], dtype=float32)

In [10]:
from sklearn.preprocessing import StandardScaler
import numpy as np

# Sample salary data
salaries = np.array([25000, 30000, 40000, 50000]).reshape(-1, 1)

# Initialize and fit scaler
scaler = StandardScaler()
scaled_salaries = scaler.fit_transform(salaries)

# Later: inverse transform a predicted value
predicted_scaled = 0.25
original_salary = scaler.inverse_transform([[predicted_scaled]])[0][0]
print(f"Predicted Salary: {original_salary:.2f}")

Predicted Salary: 38650.36